body{
    background-color: #9575CD;
}
.container{
    width:60%;
    margin:auto;
    margin-top: 30px;
    background-color: #F5F5F5;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
}

.main{
    width:85%;
    margin: auto;
}

input[type=text] {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('../edit-2-28.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    margin-right: 12px;
}
ul{
    
    font-family: 'Comfortaa', cursive;
}
ul>li{
    padding-top: 4px;
    padding-bottom: 4px;
    margin-bottom: 12px;
    border-bottom: 1px ridge #757575;
    vertical-align: middle;
}

.delete{
    float:right;
    margin-right:20px;
}

.add{
    background-color: #43A047;
    border: none;
    height:40px;
    color: #F5F5F5;
    display: inline-block;
    margin-bottom: 0px;
    border-radius: 4px;
}

.remove{
    background-color: #e53935;
    border: none;
    height:40px;
    color: #F5F5F5;
    display: inline-block;
    margin-bottom: 0px;
    border-radius: 4px;
}



input[type=checkbox]{
    height: 2em;
    width: 2em;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
    border-radius: 50%;
}
